<a href="https://colab.research.google.com/github/sasa10th/battery/blob/main/%5B2025%EA%B1%B4_%EC%A0%84_%EC%A7%80_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%5D%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EC%A3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 프로젝트 주제
* 모둠원 이름: 이홍균, 신재윤, 김지환
* 선정한 도서: 도시를 바꾸는 새
* 탐구 동기: (탐구 주제를 선정하게 된 동기나 궁금증이 생긴 이유 작성)
* 탐구 문제: (해결하고자 하는  문제 상황과 만들고자 하는 인공지능으로 확인하려는 내용)
* 관련 지속 가능 발전 목표:
* 입력 값 / 출력 값:

#1. 데이터 준비
* (데이터 소개)
* (데이터 출처)

> 데이터는 구글 드라이브 마운트를 활용하여 공유


1.   선생님이 제공한 구글 드라이브에 접속(분반별로 다름)하여 드라이브에 바로 가기 추가
 - 내 드라이브에 추가
2. 해당 드라이브에 데이터 파일 업로드
  - 데이터 파일 제목은 가급적 영문, _ 사용하여 한글, 띄어쓰기 없도록
3.   아래 코드 셀의 코드 중 업로드 한 파일의 경로를 바탕으로 구글 드라이브에서 불러오도록 함

In [1]:
##구글 드라이브 마운트를 위해 아래 두 개 셀을 차례로 실행할 것
#해당 셀 실행 -> 연결 -> 계정 선택 -> 계속(전부 체크) -> 계속 확인
from google.colab import drive
drive.mount('/gdrive')

#하단에 "Mounted at /gdrive"가 출력되면 마운트 성공!

Mounted at /gdrive

In [2]:
import pandas as pd
class_path = '/gdrive/Shareddrives/25-2_AI_data/3/battery/'

In [ ]:
df_temp = pd.read_csv(class_path+"output.csv", dtype=str)

In [ ]:
df_temp = df_temp.dropna(axis=1, how="all")
df_temp = df_temp.dropna(axis=0, how="all")

In [ ]:
df_temp.info()
print(df_temp.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23295 entries, 0 to 23294
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gbifID                  23295 non-null  object
 1   datasetKey              23295 non-null  object
 2   occurrenceID            23295 non-null  object
 3   kingdom                 23295 non-null  object
 4   phylum                  22590 non-null  object
 5   class                   16360 non-null  object
 6   order                   21870 non-null  object
 7   family                  22590 non-null  object
 8   genus                   22550 non-null  object
 9   species                 22401 non-null  object
 10  infraspecificEpithet    730 non-null    object
 11  taxonRank               23295 non-null  object
 12  scientificName          23295 non-null  object
 13  verbatimScientificName  23295 non-null  object
 14  countryCode             23295 non-null  object
 15  occurrenceStatus        23295 non-null  object
 16  publishingOrgKey        23295 non-null  object
 17  decimalLatitude         23295 non-null  object
 18  decimalLongitude        23295 non-null  object
 19  eventDate               23194 non-null  object
 20  day                     23194 non-null  object
 21  month                   23194 non-null  object
 22  year                    23194 non-null  object
 23  taxonKey                23295 non-null  object
 24  speciesKey              22401 non-null  object
 25  basisOfRecord           23295 non-null  object
 26  institutionCode         23295 non-null  object
 27  collectionCode          23295 non-null  object
 28  license                 23295 non-null  object
 29  lastInterpreted         23295 non-null  object
 30  issue                   23295 non-null  object
dtypes: object(31)
memory usage: 5.5+ MB
       gbifID                            datasetKey  \
0  3001219301  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b
1  3001219313  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b
2  3001219319  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b
3  3001219331  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b
4  3001219343  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b

                      occurrenceID   kingdom    phylum class          order  \
0  NIEK-NES-BIR-008000000000339945  Animalia  Chordata  Aves     Piciformes
1  NIEK-NES-BIR-008000000000340286  Animalia  Chordata  Aves  Passeriformes
2  NIEK-NES-BIR-008000000000340448  Animalia  Chordata  Aves   Cuculiformes
3  NIEK-NES-BIR-008000000000340899  Animalia  Chordata  Aves   Strigiformes
4  NIEK-NES-BIR-008000000000341177  Animalia  Chordata  Aves   Cuculiformes

         family          genus                species  ... month  year  \
0       Picidae    Dendrocopos      Dendrocopos major  ...     5  2004
1  Motacillidae  Dendronanthus  Dendronanthus indicus  ...     3  2004
2     Cuculidae        Cuculus        Cuculus canorus  ...     6  2004
3     Strigidae           Otus             Otus sunia  ...     4  2004
4     Cuculidae        Cuculus        Cuculus canorus  ...     4  2004

  taxonKey speciesKey      basisOfRecord institutionCode collectionCode  \
0  2477968    2477968  HUMAN_OBSERVATION            NIEK            BIR
1  2490317    2490317  HUMAN_OBSERVATION            NIEK            BIR
2  5231918    5231918  HUMAN_OBSERVATION            NIEK            BIR
3  5232328    5232328  HUMAN_OBSERVATION            NIEK            BIR
4  5231918    5231918  HUMAN_OBSERVATION            NIEK            BIR

        license           lastInterpreted  \
0  CC_BY_NC_4_0  2025-11-24T21:47:42.293Z
1  CC_BY_NC_4_0  2025-11-24T21:47:42.330Z
2  CC_BY_NC_4_0  2025-11-24T21:47:42.342Z
3  CC_BY_NC_4_0  2025-11-24T21:47:42.353Z
4  CC_BY_NC_4_0  2025-11-24T21:47:42.364Z

                                               issue
0  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
1  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
2  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
3  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
4  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...

[5 rows x 31 columns]

In [ ]:
target_columns = [
    'species',
    'decimalLatitude',
    'decimalLongitude',
    'eventDate',
    'year',
    'month',
    'countryCode'
]

df_bird = df_temp[target_columns].copy()

print(df_bird.head())

                 species decimalLatitude decimalLongitude   eventDate  year  \
0      Dendrocopos major       37.687355       127.759039  2004-05-07  2004
1  Dendronanthus indicus       37.066059       127.356516  2004-03-02  2004
2        Cuculus canorus       35.401287       128.417157  2004-06-10  2004
3             Otus sunia       36.601851       127.069433  2004-04-03  2004
4        Cuculus canorus       35.604606       129.315823  2004-04-01  2004

  month countryCode
0     5          KR
1     3          KR
2     6          KR
3     4          KR
4     4          KR

## ?. 환경 데이터 불러오기

In [3]:
# import os
# import re
# import pandas as pd
# import unicodedata # Import unicodedata for normalization
# from tqdm import tqdm # Import tqdm for progress bar

# # Ensure class_path is defined from previous cells
# # class_path = '/gdrive/Shareddrives/25-2_AI_data/3/battery/'

# all_dataframes_list = [] # Will be populated with all loaded DataFrames

# # Regex patterns for different naming conventions
# pattern_2001_2013 = re.compile(r'(\d{4})년(\d{2})분기\.xlsx') # e.g., 2013년04분기.xlsx
# pattern_2014_2016 = re.compile(r'(\d{4})년 (\d)분기\.xlsx')   # e.g., 2014년 1분기.xlsx
# pattern_2017_2018 = re.compile(r'(\d{4})년 (\d{1,2})월\.xlsx')    # e.g., 2017년 07월.xlsx or 2018년 7월.xlsx

# file_info = []

# for filename in os.listdir(class_path):
#     normalized_filename = unicodedata.normalize('NFC', filename)

#     if normalized_filename.endswith('.xlsx'):
#         match_2001_2013 = pattern_2001_2013.match(normalized_filename)
#         match_2014_2016 = pattern_2014_2016.match(normalized_filename)
#         match_2017_2018 = pattern_2017_2018.match(normalized_filename)

#         year = None
#         period_type = None
#         period_value = None

#         if match_2001_2013:
#             year = int(match_2001_2013.group(1))
#             period_type = 'quarter'
#             period_value = int(match_2001_2013.group(2))
#         elif match_2014_2016:
#             year = int(match_2014_2016.group(1))
#             period_type = 'quarter'
#             period_value = int(match_2014_2016.group(2))
#         elif match_2017_2018:
#             year = int(match_2017_2018.group(1))
#             period_type = 'month'
#             period_value = int(match_2017_2018.group(2))
#         else:
#             continue

#         if year:
#             file_info.append({
#                 'year': year,
#                 'period_type': period_type,
#                 'period_value': period_value,
#                 'filename': normalized_filename
#             })

# file_info.sort(key=lambda x: (x['year'], x['period_value']))

# file_info

[{'year': 2001,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2001년01분기.xlsx'},
 {'year': 2001,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2001년02분기.xlsx'},
 {'year': 2001,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2001년03분기.xlsx'},
 {'year': 2001,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2001년04분기.xlsx'},
 {'year': 2002,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2002년01분기.xlsx'},
 {'year': 2002,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2002년02분기.xlsx'},
 {'year': 2002,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2002년03분기.xlsx'},
 {'year': 2002,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2002년04분기.xlsx'},
 {'year': 2003,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2003년01분기.xlsx'},
 {'year': 2003,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2003년02분기.xlsx'},
 {'year': 2003,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2003년03분기.xlsx'},
 {'year': 2003,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2003년04분기.xlsx'},
 {'year': 2004,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2004년01분기.xlsx'},
 {'year': 2004,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2004년02분기.xlsx'},
 {'year': 2004,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2004년03분기.xlsx'},
 {'year': 2004,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2004년04분기.xlsx'},
 {'year': 2005,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2005년01분기.xlsx'},
 {'year': 2005,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2005년02분기.xlsx'},
 {'year': 2005,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2005년03분기.xlsx'},
 {'year': 2005,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2005년04분기.xlsx'},
 {'year': 2006,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2006년01분기.xlsx'},
 {'year': 2006,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2006년02분기.xlsx'},
 {'year': 2006,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2006년03분기.xlsx'},
 {'year': 2006,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2006년04분기.xlsx'},
 {'year': 2007,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2007년01분기.xlsx'},
 {'year': 2007,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2007년02분기.xlsx'},
 {'year': 2007,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2007년03분기.xlsx'},
 {'year': 2007,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2007년04분기.xlsx'},
 {'year': 2008,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2008년01분기.xlsx'},
 {'year': 2008,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2008년02분기.xlsx'},
 {'year': 2008,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2008년03분기.xlsx'},
 {'year': 2008,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2008년04분기.xlsx'},
 {'year': 2009,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2009년01분기.xlsx'},
 {'year': 2009,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2009년02분기.xlsx'},
 {'year': 2009,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2009년03분기.xlsx'},
 {'year': 2009,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2009년04분기.xlsx'},
 {'year': 2010,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2010년01분기.xlsx'},
 {'year': 2010,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2010년02분기.xlsx'},
 {'year': 2010,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2010년03분기.xlsx'},
 {'year': 2010,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2010년04분기.xlsx'},
 {'year': 2011,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2011년01분기.xlsx'},
 {'year': 2011,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2011년02분기.xlsx'},
 {'year': 2011,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2011년03분기.xlsx'},
 {'year': 2011,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2011년04분기.xlsx'},
 {'year': 2012,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2012년01분기.xlsx'},
 {'year': 2012,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2012년02분기.xlsx'},
 {'year': 2012,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2012년03분기.xlsx'},
 {'year': 2012,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2012년04분기.xlsx'},
 {'year': 2013,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2013년01분기.xlsx'},
 {'year': 2013,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2013년02분기.xlsx'},
 {'year': 2013,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2013년03분기.xlsx'},
 {'year': 2013,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2013년04분기.xlsx'},
 {'year': 2014,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2014년 1분기.xlsx'},
 {'year': 2014,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2014년 2분기.xlsx'},
 {'year': 2014,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2014년 3분기.xlsx'},
 {'year': 2014,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2014년 4분기.xlsx'},
 {'year': 2015,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2015년 1분기.xlsx'},
 {'year': 2015,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2015년 2분기.xlsx'},
 {'year': 2015,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2015년 3분기.xlsx'},
 {'year': 2015,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2015년 4분기.xlsx'},
 {'year': 2016,
  'period_type': 'quarter',
  'period_value': 1,
  'filename': '2016년 1분기.xlsx'},
 {'year': 2016,
  'period_type': 'quarter',
  'period_value': 2,
  'filename': '2016년 2분기.xlsx'},
 {'year': 2016,
  'period_type': 'quarter',
  'period_value': 3,
  'filename': '2016년 3분기.xlsx'},
 {'year': 2016,
  'period_type': 'quarter',
  'period_value': 4,
  'filename': '2016년 4분기.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 1,
  'filename': '2017년 01월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 2,
  'filename': '2017년 02월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 3,
  'filename': '2017년 03월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 4,
  'filename': '2017년 04월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 5,
  'filename': '2017년 05월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 6,
  'filename': '2017년 06월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 7,
  'filename': '2017년 07월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 8,
  'filename': '2017년 08월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 9,
  'filename': '2017년 09월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 10,
  'filename': '2017년 10월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 11,
  'filename': '2017년 11월.xlsx'},
 {'year': 2017,
  'period_type': 'month',
  'period_value': 12,
  'filename': '2017년 12월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 1,
  'filename': '2018년 1월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 2,
  'filename': '2018년 2월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 3,
  'filename': '2018년 3월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 4,
  'filename': '2018년 4월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 5,
  'filename': '2018년 5월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 6,
  'filename': '2018년 6월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 7,
  'filename': '2018년 7월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 8,
  'filename': '2018년 8월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 9,
  'filename': '2018년 9월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 10,
  'filename': '2018년 10월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 11,
  'filename': '2018년 11월.xlsx'},
 {'year': 2018,
  'period_type': 'month',
  'period_value': 12,
  'filename': '2018년 12월.xlsx'}]

In [4]:
# import pandas as pd
# import os

# # 1. Define a list of column names for the aggregated CSV
# column_names = ['year', 'month', '측정소명', 'SO2', 'CO', 'O3', 'NO2', 'PM10']

# # 2. Create an empty Pandas DataFrame with these specified column names
# df_aggregated = pd.DataFrame(columns=column_names)

# # 3. Construct the full path for the output CSV file
# output_filename = 'aggregated_environmental_data.csv'
# output_filepath = os.path.join(class_path, output_filename)

# # 4. Save the empty DataFrame to the specified CSV path, ensuring headers are written and any existing file is overwritten
# df_aggregated.to_csv(output_filepath, index=False, encoding='utf-8-sig')

# print(f"Initialized empty aggregated CSV file at: {output_filepath}")
# print("Columns initialized:", df_aggregated.columns.tolist())

Initialized empty aggregated CSV file at: /gdrive/Shareddrives/25-2_AI_data/3/battery/aggregated_environmental_data.csv
Columns initialized: ['year', 'month', '측정소명', 'SO2', 'CO', 'O3', 'NO2', 'PM10']

In [5]:
# import pandas as pd
# import numpy as np
# import os
# from tqdm import tqdm

# # 1. Define pollutant columns and columns to be selected
# pollutant_columns = ['SO2', 'CO', 'O3', 'NO2', 'PM10']
# initial_selected_columns = ['측정소명', '측정일시', '주소'] + pollutant_columns

# # Ensure class_path is defined from previous cells
# # class_path = '/gdrive/Shareddrives/25-2_AI_data/3/battery/'

# # Get output file path from previous step
# output_filename = 'aggregated_environmental_data.csv'
# output_filepath = os.path.join(class_path, output_filename)

# # Re-scan for file_info as the kernel might have reset or for robustness
# # This part is copied from the previous cell Ph_uHBKhM_7N to ensure file_info is up-to-date
# import re
# import unicodedata

# file_info = []
# pattern_2001_2013 = re.compile(r'(\d{4})년(\d{2})분기\.xlsx')
# pattern_2014_2016 = re.compile(r'(\d{4})년 (\d)분기\.xlsx')
# pattern_2017_2018 = re.compile(r'(\d{4})년 (\d{1,2})월\.xlsx')

# for filename in os.listdir(class_path):
#     normalized_filename = unicodedata.normalize('NFC', filename)
#     if normalized_filename.endswith('.xlsx'):
#         match_2001_2013 = pattern_2001_2013.match(normalized_filename)
#         match_2014_2016 = pattern_2014_2016.match(normalized_filename)
#         match_2017_2018 = pattern_2017_2018.match(normalized_filename)

#         year = None
#         period_type = None
#         period_value = None

#         if match_2001_2013:
#             year = int(match_2001_2013.group(1))
#             period_type = 'quarter'
#             period_value = int(match_2001_2013.group(2))
#         elif match_2014_2016:
#             year = int(match_2014_2016.group(1))
#             period_type = 'quarter'
#             period_value = int(match_2014_2016.group(2))
#         elif match_2017_2018:
#             year = int(match_2017_2018.group(1))
#             period_type = 'month'
#             period_value = int(match_2017_2018.group(2))
#         else:
#             continue

#         if year:
#             file_info.append({
#                 'year': year,
#                 'period_type': period_type,
#                 'period_value': period_value,
#                 'filename': normalized_filename
#             })
# file_info.sort(key=lambda x: (x['year'], x['period_value']))
# # End of re-scanning for file_info

# # 4. Loop through each file in the file_info list
# for info in tqdm(file_info, desc="Processing XLSX files and aggregating data"):
#     file_path = os.path.join(class_path, info['filename'])
#     try:
#         # 5. Load each XLSX file into a Pandas DataFrame
#         df = pd.read_excel(file_path)

#         # 6. Standardize the date column: if a column named 'DATA_TINE' exists, rename it to '측정일시'.
#         if 'DATA_TINE' in df.columns:
#             df = df.rename(columns={'DATA_TINE': '측정일시'})

#         # Filter out rows where '측정소명' is missing or not a string
#         df = df[df['측정소명'].notna() & df['측정소명'].apply(lambda x: isinstance(x, str))].copy()

#         # 7. Convert the '측정일시' column to datetime objects
#         df['측정일시'] = pd.to_datetime(df['측정일시'], errors='coerce', format='%Y%m%d%H', exact=False)

#         # Drop rows where '측정일시' conversion failed
#         df.dropna(subset=['측정일시'], inplace=True)

#         # 8. Extract the 'year' and 'month' from the '측정일시' column
#         df['year'] = df['측정일시'].dt.year
#         df['month'] = df['측정일시'].dt.month

#         # 9. Select only the specified columns (pollutants, '측정소명', 'year', 'month')
#         # '주소' is dropped here as it's not part of the final aggregated output columns
#         current_columns = ['year', 'month', '측정소명'] + pollutant_columns
#         df_processed = df[current_columns].copy()

#         # 10. Replace missing values and convert pollutant columns to numeric
#         for col in pollutant_columns:
#             # Replace common placeholder missing values (e.g., '-999', '-999.0', ' ') with NaN
#             df_processed[col] = df_processed[col].replace([-999, '-999', '-999.0', ' '], np.nan)
#             df_processed[col] = pd.to_numeric(df_processed[col], errors='coerce')

#         # Drop rows where all pollutant values are NaN, as these rows wouldn't contribute to the mean
#         df_processed.dropna(subset=pollutant_columns, how='all', inplace=True)

#         # 11. Group by 'year', 'month', and '측정소명' and calculate the mean for numeric columns
#         df_aggregated_current_file = df_processed.groupby(['year', 'month', '측정소명'], as_index=False)[pollutant_columns].mean()

#         # 12. Append the resulting aggregated data to the aggregated_environmental_data.csv file
#         # Use mode='a' for append mode, header=False to avoid writing headers again, and index=False
#         df_aggregated_current_file.to_csv(output_filepath, mode='a', header=False, index=False, encoding='utf-8-sig')

#     except Exception as e:
#         print(f"Error processing file {info['filename']}: {e}")

# print(f"All XLSX files processed and aggregated data saved to {output_filepath}")

Processing XLSX files and aggregating data: 100%|██████████| 88/88 [1:32:41<00:00, 63.20s/it]

All XLSX files processed and aggregated data saved to /gdrive/Shareddrives/25-2_AI_data/3/battery/aggregated_environmental_data.csv

## ?. Kakao REST API

In [19]:
# import pandas as pd
# import os

# # Construct the full path to the CSV file
# address_matching_csv_path = os.path.join(class_path, 'address_matching.csv')

# # Load the CSV file into a DataFrame
# df_address_matching = pd.read_csv(address_matching_csv_path)

# df_address_matching

     측정소명                               주소   longitude   latitude
0     옥천동  강원특별자치도 강릉시 경강로 2179(옥천동 327-2)  128.902901  37.760146
1     간성읍                  강원특별자치도 고성군 간성읍  128.466856  38.378382
2      상리          강원특별자치도 고성군 간성읍 수성로 160  128.463725  38.381188
3     천곡동      강원특별자치도 동해시 천곡로 77(천곡동 806)  129.114353  37.524716
4    남양동1    강원특별자치도 삼척시 남양길 11(남양동 331-9)  129.168368  37.442639
..    ...                              ...         ...        ...
393   성거읍          충청남도 천안시 서북구 성거읍 천흥8길 7  127.207379  36.883467
394   백석동          충청남도 천안시 서북구 음봉로 861-50  127.104606  36.828034
395   영동읍            충청북도 영동군 영동읍 계산로2길 25  127.777791  36.172753
396   도안면             충청북도 증평군 도안면 문화마을길 8  127.612663  36.813554
397   오창읍        충청북도 청주시 청원구 오창읍 오창대로 197  127.417400  36.714137

[398 rows x 4 columns]

In [16]:
# import requests
# from google.colab import userdata
# import pandas as pd

# # Kakao API URL and headers must be defined in this cell
# url = 'https://dapi.kakao.com/v2/local/search/address.json'
# headers = {'Authorization': f'KakaoAK {userdata.get('kapi')}'}

# # 1. Initialize an empty list named address_coordinates
# address_coordinates = []

# # 2. Iterate through each row of the df_address_matching DataFrame
# for index, row in df_address_matching.iterrows():
#     # 3. For each row, extract the '주소' (address) value.
#     address = row['주소']

#     longitude = None
#     latitude = None

#     if pd.notna(address) and address.strip(): # Ensure address is not NaN or empty
#         try:
#             # 4. Construct the API request and 5. Make the API call
#             response = requests.get(url, headers=headers, params={'query': address, 'size': 1})
#             data = response.json()

#             # 6. Check the API response for success and extract coordinates
#             if response.status_code == 200 and data['documents']:
#                 longitude = data['documents'][0]['x']
#                 latitude = data['documents'][0]['y']
#         except requests.exceptions.RequestException as e:
#             print(f"API request failed for address '{address}': {e}")
#         except Exception as e:
#             print(f"Error processing API response for address '{address}': {e}")

#     # 8. Append a list containing the original address, extracted longitude, and extracted latitude
#     address_coordinates.append([address, longitude, latitude])

# # 9. Create a new Pandas DataFrame named df_coords from the address_coordinates list
# df_coords = pd.DataFrame(address_coordinates, columns=['주소', 'longitude', 'latitude'])

# # 10. Convert the 'longitude' and 'latitude' columns in df_coords to numeric type
# df_coords['longitude'] = pd.to_numeric(df_coords['longitude'], errors='coerce')
# df_coords['latitude'] = pd.to_numeric(df_coords['latitude'], errors='coerce')

# # 11. Merge df_address_matching with df_coords on the '주소' column
# df_address_matching = df_address_matching.merge(df_coords, on='주소', how='left')

# print("df_address_matching updated with longitude and latitude:")
# print(df_address_matching.head())
# print(df_address_matching.info())

df_address_matching updated with longitude and latitude:
   측정소명                               주소  longitude_x  latitude_x  \
0   옥천동  강원특별자치도 강릉시 경강로 2179(옥천동 327-2)          NaN         NaN
1   간성읍                  강원특별자치도 고성군 간성읍          NaN         NaN
2    상리          강원특별자치도 고성군 간성읍 수성로 160          NaN         NaN
3   천곡동      강원특별자치도 동해시 천곡로 77(천곡동 806)          NaN         NaN
4  남양동1    강원특별자치도 삼척시 남양길 11(남양동 331-9)          NaN         NaN

   longitude_y  latitude_y
0   128.902901   37.760146
1   128.466856   38.378382
2   128.463725   38.381188
3   129.114353   37.524716
4   129.168368   37.442639
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   측정소명         398 non-null    object
 1   주소           398 non-null    object
 2   longitude_x  0 non-null      float64
 3   latitude_x   0 non-null      float64
 4   longitude_y  379 non-null    float64
 5   latitude_y   379 non-null    float64
dtypes: float64(4), object(2)
memory usage: 18.8+ KB
None

In [17]:
# import pandas as pd

# # Drop the original longitude and latitude columns (which are all NaN from previous steps)
# df_address_matching = df_address_matching.drop(columns=['longitude_x', 'latitude_x'])

# # Rename the newly merged columns to the desired names
# df_address_matching = df_address_matching.rename(columns={'longitude_y': 'longitude', 'latitude_y': 'latitude'})

# # Display the head and info of the updated DataFrame
# print("df_address_matching after cleanup:")
# print(df_address_matching.head())
# print(df_address_matching.info())

df_address_matching after cleanup:
   측정소명                               주소   longitude   latitude
0   옥천동  강원특별자치도 강릉시 경강로 2179(옥천동 327-2)  128.902901  37.760146
1   간성읍                  강원특별자치도 고성군 간성읍  128.466856  38.378382
2    상리          강원특별자치도 고성군 간성읍 수성로 160  128.463725  38.381188
3   천곡동      강원특별자치도 동해시 천곡로 77(천곡동 806)  129.114353  37.524716
4  남양동1    강원특별자치도 삼척시 남양길 11(남양동 331-9)  129.168368  37.442639
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   측정소명       398 non-null    object
 1   주소         398 non-null    object
 2   longitude  379 non-null    float64
 3   latitude   379 non-null    float64
dtypes: float64(2), object(2)
memory usage: 12.6+ KB
None

In [18]:
# import os

# # Construct the full path to the CSV file
# address_matching_csv_path = os.path.join(class_path, 'address_matching.csv')

# # Save the df_address_matching DataFrame to CSV, without the index
# df_address_matching.to_csv(address_matching_csv_path, index=False, encoding='utf-8-sig')

# print(f"Updated df_address_matching (with coordinates) saved to: {address_matching_csv_path}")

Updated df_address_matching (with coordinates) saved to: /gdrive/Shareddrives/25-2_AI_data/3/battery/address_matching.csv

# ?. 환경-주소(좌표) 매칭

In [20]:
import pandas as pd
import os

# Path to the aggregated environmental data CSV
aggregated_env_data_path = os.path.join(class_path, 'aggregated_environmental_data.csv')
# Path to the address matching CSV
address_matching_csv_path = os.path.join(class_path, 'address_matching.csv')

# Load the aggregated environmental data
df_environmental = pd.read_csv(aggregated_env_data_path)

# Load the address matching data
df_address_matching = pd.read_csv(address_matching_csv_path)

# Merge the two DataFrames on '측정소명'
# Using a left merge to keep all environmental data and add addresses where a match is found
df_merged = pd.merge(df_environmental, df_address_matching, on='측정소명', how='left')

print("Merged DataFrame head:")
print(df_merged.head())

print("\nNumber of rows with missing addresses after merge:")
print(df_merged['주소'].isnull().sum())

Merged DataFrame head:
   year  month  측정소명       SO2        CO        O3       NO2       PM10  \
0  2001      1  가음정동  0.006909  0.794376  0.015056  0.022476  55.838134
1  2001      1   간성읍  0.005200       NaN       NaN  0.001912        NaN
2  2001      1   강남구  0.006792  1.643280  0.009388  0.034728  74.916667
3  2001      1   강동구  0.004774  1.459777  0.006701  0.044275  96.346361
4  2001      1   강북구  0.007588  1.276113  0.006263  0.054375  74.363354

                   주소   longitude   latitude
0                 NaN         NaN        NaN
1     강원특별자치도 고성군 간성읍  128.466856  38.378382
2      서울 강남구 학동로 426  127.047060  37.517968
3  서울 강동구 구천면로 42길 59  127.136820  37.545004
4  서울 강북구 삼양로 139길 49  127.011870  37.647934

Number of rows with missing addresses after merge:
6780

In [22]:
import pandas as pd

# Drop rows where any column has a NaN value (default how='any')
df_merged_cleaned = df_merged.dropna()

print("모든 열의 결측치 행 제거 후 Merged DataFrame head:")
print(df_merged_cleaned.head())

print("\n모든 열의 결측치 행 제거 후 df_merged_cleaned의 총 행 수:")
print(len(df_merged_cleaned))

print("\n모든 열의 결측치 행 제거 후 df_merged_cleaned의 결측치 개수 (전체 컬럼 확인용):\n")
# Print null sum for all columns to confirm no NaNs remain
print(df_merged_cleaned.isnull().sum())

모든 열의 결측치 행 제거 후 Merged DataFrame head:
   year  month 측정소명       SO2        CO        O3       NO2       PM10  \
2  2001      1  강남구  0.006792  1.643280  0.009388  0.034728  74.916667
3  2001      1  강동구  0.004774  1.459777  0.006701  0.044275  96.346361
4  2001      1  강북구  0.007588  1.276113  0.006263  0.054375  74.363354
5  2001      1  강서구  0.005521  0.824688  0.010426  0.037748  67.598611
7  2001      1  경화동  0.005247  0.812534  0.024065  0.018678  43.804348

                         주소   longitude   latitude
2            서울 강남구 학동로 426  127.047060  37.517968
3        서울 강동구 구천면로 42길 59  127.136820  37.545004
4        서울 강북구 삼양로 139길 49  127.011870  37.647934
5  서울 강서구 강서로 45 다길 71 화곡3동  126.835171  37.544657
7     경남 창원시 진해구 경화로16번길 31  128.689558  35.154977

모든 열의 결측치 행 제거 후 df_merged_cleaned의 총 행 수:
48515

모든 열의 결측치 행 제거 후 df_merged_cleaned의 결측치 개수 (전체 컬럼 확인용):

year         0
month        0
측정소명         0
SO2          0
CO           0
O3           0
NO2          0
PM10         0
주소           0
longitude    0
latitude     0
dtype: int64














#2. 탐색적 데이터 분석

#3. 모델 구현
* (사용한 알고리즘)

#4. 모델 평가

#5. 결과 확인 및 해석

#6. 활용 방안 및 기대 효과
* (활용 방안)
* (기대 효과)