<a href="https://colab.research.google.com/github/sasa10th/battery/blob/main/%5B2025%EA%B1%B4_%EC%A0%84_%EC%A7%80_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%5D%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EC%A3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 프로젝트 주제
* 모둠원 이름: 이홍균, 신재윤, 김지환
* 선정한 도서: 도시를 바꾸는 새
* 탐구 동기: (탐구 주제를 선정하게 된 동기나 궁금증이 생긴 이유 작성)
* 탐구 문제: (해결하고자 하는  문제 상황과 만들고자 하는 인공지능으로 확인하려는 내용)
* 관련 지속 가능 발전 목표:
* 입력 값 / 출력 값:

#1. 데이터 준비
* (데이터 소개)
* (데이터 출처)

> 데이터는 구글 드라이브 마운트를 활용하여 공유


1.   선생님이 제공한 구글 드라이브에 접속(분반별로 다름)하여 드라이브에 바로 가기 추가
 - 내 드라이브에 추가
2. 해당 드라이브에 데이터 파일 업로드
  - 데이터 파일 제목은 가급적 영문, _ 사용하여 한글, 띄어쓰기 없도록
3.   아래 코드 셀의 코드 중 업로드 한 파일의 경로를 바탕으로 구글 드라이브에서 불러오도록 함

In [1]:
##구글 드라이브 마운트를 위해 아래 두 개 셀을 차례로 실행할 것
#해당 셀 실행 -> 연결 -> 계정 선택 -> 계속(전부 체크) -> 계속 확인
from google.colab import drive
drive.mount('/gdrive')

#하단에 "Mounted at /gdrive"가 출력되면 마운트 성공!

Mounted at /gdrive

In [2]:
import pandas as pd
class_path = '/gdrive/Shareddrives/25-2_AI_data/3/battery/'

In [8]:
df_temp = pd.read_csv(class_path+"output.csv", dtype=str)

In [9]:
df_temp = df_temp.dropna(axis=1, how="all")
df_temp = df_temp.dropna(axis=0, how="all")

In [12]:
df_temp.info()
print(df_temp.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23295 entries, 0 to 23294
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gbifID                  23295 non-null  object
 1   datasetKey              23295 non-null  object
 2   occurrenceID            23295 non-null  object
 3   kingdom                 23295 non-null  object
 4   phylum                  22590 non-null  object
 5   class                   16360 non-null  object
 6   order                   21870 non-null  object
 7   family                  22590 non-null  object
 8   genus                   22550 non-null  object
 9   species                 22401 non-null  object
 10  infraspecificEpithet    730 non-null    object
 11  taxonRank               23295 non-null  object
 12  scientificName          23295 non-null  object
 13  verbatimScientificName  23295 non-null  object
 14  countryCode             23295 non-null  object
 15  occurrenceStatus        23295 non-null  object
 16  publishingOrgKey        23295 non-null  object
 17  decimalLatitude         23295 non-null  object
 18  decimalLongitude        23295 non-null  object
 19  eventDate               23194 non-null  object
 20  day                     23194 non-null  object
 21  month                   23194 non-null  object
 22  year                    23194 non-null  object
 23  taxonKey                23295 non-null  object
 24  speciesKey              22401 non-null  object
 25  basisOfRecord           23295 non-null  object
 26  institutionCode         23295 non-null  object
 27  collectionCode          23295 non-null  object
 28  license                 23295 non-null  object
 29  lastInterpreted         23295 non-null  object
 30  issue                   23295 non-null  object
dtypes: object(31)
memory usage: 5.5+ MB
       gbifID                            datasetKey  \
0  3001219301  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b
1  3001219313  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b
2  3001219319  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b
3  3001219331  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b
4  3001219343  ef6e0754-8bf2-4854-9aa3-3a2a1a90810b

                      occurrenceID   kingdom    phylum class          order  \
0  NIEK-NES-BIR-008000000000339945  Animalia  Chordata  Aves     Piciformes
1  NIEK-NES-BIR-008000000000340286  Animalia  Chordata  Aves  Passeriformes
2  NIEK-NES-BIR-008000000000340448  Animalia  Chordata  Aves   Cuculiformes
3  NIEK-NES-BIR-008000000000340899  Animalia  Chordata  Aves   Strigiformes
4  NIEK-NES-BIR-008000000000341177  Animalia  Chordata  Aves   Cuculiformes

         family          genus                species  ... month  year  \
0       Picidae    Dendrocopos      Dendrocopos major  ...     5  2004
1  Motacillidae  Dendronanthus  Dendronanthus indicus  ...     3  2004
2     Cuculidae        Cuculus        Cuculus canorus  ...     6  2004
3     Strigidae           Otus             Otus sunia  ...     4  2004
4     Cuculidae        Cuculus        Cuculus canorus  ...     4  2004

  taxonKey speciesKey      basisOfRecord institutionCode collectionCode  \
0  2477968    2477968  HUMAN_OBSERVATION            NIEK            BIR
1  2490317    2490317  HUMAN_OBSERVATION            NIEK            BIR
2  5231918    5231918  HUMAN_OBSERVATION            NIEK            BIR
3  5232328    5232328  HUMAN_OBSERVATION            NIEK            BIR
4  5231918    5231918  HUMAN_OBSERVATION            NIEK            BIR

        license           lastInterpreted  \
0  CC_BY_NC_4_0  2025-11-24T21:47:42.293Z
1  CC_BY_NC_4_0  2025-11-24T21:47:42.330Z
2  CC_BY_NC_4_0  2025-11-24T21:47:42.342Z
3  CC_BY_NC_4_0  2025-11-24T21:47:42.353Z
4  CC_BY_NC_4_0  2025-11-24T21:47:42.364Z

                                               issue
0  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
1  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
2  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
3  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...
4  COORDINATE_ROUNDED;GEODETIC_DATUM_ASSUMED_WGS8...

[5 rows x 31 columns]

In [13]:
target_columns = [
    'species',
    'decimalLatitude',
    'decimalLongitude',
    'eventDate',
    'year',
    'month',
    'countryCode'
]

df_bird = df_temp[target_columns].copy()

print(df_bird.head())

                 species decimalLatitude decimalLongitude   eventDate  year  \
0      Dendrocopos major       37.687355       127.759039  2004-05-07  2004
1  Dendronanthus indicus       37.066059       127.356516  2004-03-02  2004
2        Cuculus canorus       35.401287       128.417157  2004-06-10  2004
3             Otus sunia       36.601851       127.069433  2004-04-03  2004
4        Cuculus canorus       35.604606       129.315823  2004-04-01  2004

  month countryCode
0     5          KR
1     3          KR
2     6          KR
3     4          KR
4     4          KR

#2. 탐색적 데이터 분석

#3. 모델 구현
* (사용한 알고리즘)

#4. 모델 평가

#5. 결과 확인 및 해석

#6. 활용 방안 및 기대 효과
* (활용 방안)
* (기대 효과)